<div class="edit-info-form">
    <div class="edit-info-form__main">
        <div>
            <label class="edit-info-form__label">Название</label>
            <textarea class="text-input" rows="2" maxlength="100" name="title" placeholder="Максимум 100 символов" required>
                {{Title}}
            </textarea>
        </div>
        <div>
            <label class="edit-info-form__label">Описание</label>
            <textarea class="text-input" rows="10" maxlength="1000" name="description" placeholder="Максимум 1000 символов">
                {{Description}}
            </textarea>
        </div>
        <div>
            <label class="edit-info-form__label">Цвет фона в плеере</label>
            <input type="jscolor" name="color" value="{{Color}}">
        </div>
    </div>
    <div class="edit-info-form__advanced">
        <div>
            <input type="radio" name="visibility" value="0" {{ifchecked Visibility 0}}>"Открытый доступ"
            <input type="radio" name="visibility" value="1" {{ifchecked Visibility 1}}>"Доступ по ссылке"
            <input type="radio" name="visibility" value="2" {{ifchecked Visibility 2}}>"Закрытый доступ"
        </div>
        <div>
            <label class="edit-info-form__label">Комментарии</label>
            <input type="radio" name="commentenable" value="true" {{ifchecked CommentEnable true}}>Включить
            <input type="radio" name="commentenable" value="false" {{ifchecked CommentEnable false}}>Выключить
        </div>
    </div>
    <input type="hidden" value="{{Id}}" />
    <input type="hidden" value="{{LogoSlideIndex}}" />
</div>