@model YourSlides.Web.Models.PresentationViewModel

<div class="presentation-view-item presentation-view-item_size_small" data-id="@Model.Id">
    <div class="presentation-view-item__icon ">
        <a class="presentation-view-item__link" href="@Url.Action("Watch", "Presentation", new {id = Model.Id})">
            <div class="presentation-view-item__image-container">
                <img class="presentation-view-item__image-small" src="@Url.Content(Path.Combine("~/storage/", Model.Id, "preview_small", Model.LogoSlideIndex + ".png"))" />
                <img class="presentation-view-item__image-big" src="@Url.Content(Path.Combine("~/storage/", Model.Id, "preview_big", Model.LogoSlideIndex + ".png"))" />
                <span class="presentation-view-item__slide-count">@Model.SlideCount</span>
            </div>
            <div class="presentation-view-item__title" title="@Model.Title">
                @Model.Title
            </div>
        </a>
        <a class="presentation-view-item__edit-link" href="@Url.Action("Edit", "Presentation", new{id = Model.Id})"><img src="@Url.Content("~/Content/images/edit.jpg")" /></a>
    </div>
    <div class="presentation-view-item__info">
        <a class="presentation-view-item__owner-name" href="/user/@Model.OwnerName">@Model.OwnerName</a>
        <div class="presentation-view-item__watch-count">Просмотров @Model.WatchCount</div>
        <div class="presentation-view-item__created" data-p-created="@Model.Created"></div>
    </div>
</div>